body{
    display: flex;
    background-image: url(image7.png);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
  }
  
  .logo img {
    margin-top: 3px;
    margin-left: 10px;
  }
  
  .search input {
    margin-left: 20px;
    width: 900px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    opacity: 0.2;
    font-size: 16px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  
  .cotolog {
    display: flex;
    gap: 20px;
    margin-left: 25px;
    color: white;
    font-size: 20px;
    line-height: 23px;
    flex-direction: row;
  }
  /* .icons img {
    margin-left: 40px;
  }
  
  .icons img:last-child {
    margin-right: 80px;
  }
  
  .icons img:first-child {
    margin-top: 30px;
  } */
  